html, body{
    margin:0;
    padding:0;
}

header {
    display: block;
    height:100px;
    width: 100%;
}

nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color:	#BA55D3;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

li {
    display: block;
    height: 100%;
    width:25%;
    float: left;
    background-color: #2F4F4F;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

li:hover {
    background-color: #8FBC8F;
    color: #222;
}

/* POSTERS */
h1 {
    font-family: arial;
    font-size: 30px;
    color: #222;
}

img.posters1 {
    height : 200px;
}

.thickborder {
    border: 4px solid #222;
    box-sizing:border-box;
}

blockquote {
     border-left: 4px solid #888;
     padding-left: 2px;
     font-size: 20px;
     color: #477;
     max-width: 130px;
}

p {
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}

.posters {
    border: 2px solid #222;
    float:left;
    margin: 5px;
    height: 360px;
}
/* List */

caption {
    font-family: arial;
    font-size: 30px;
    padding:10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

td:first-child {
    text-align: center;
}

img.list {
    height: 100px;
}

th {
    text-align: left;
}

table {
    width: 100%; 
    background-color: #f1f1c1;
    border-spacing: 5px;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: #444;
}

@media only all {

    h1 {
        text-align: left;
        padding:10px;
    }

    caption{
        padding-top:0;
        padding-bottom:0;
    }
}

/* forms */
.forms {
    width: 40%;
    padding: 2%;
}

label{
    width:100%;
    margin:1%;
}

input {
    display:block;
    width: 45%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
}

textarea {

    width: 100%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
    font-family: Courier New, Courier, monospace;
}

@media screen and (max-width:500px)
{
    div {
        width: 100%;
        padding: 2%;
    }

    label{
        width:100%;
        margin:1%;
    }

    input {
        display:block;
        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
    }

    textarea {

        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
        font-family: Courier New, Courier, monospace;
        height:100px;
    }
}